*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

    --black: #000;
    --black1: #020202;

    --white: #fff;
    --white1: #D5D6D7;
    --white2: #B5B7B9;

}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: var(--black1);
    padding-top: 60px;
}

.content{
    width:100%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* ----------- Login/Register ----------------- */
.form-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    color: var(--white);
    border-radius: 10px;
    padding: 30px 40px;
    background: transparent;
    box-shadow: 0 0 5px var(--white1);
    border: 1px solid #000;
    transition: box-shadow 0.3s linear;
}

.form-container:hover, .form-container:focus{
    box-shadow: none;
}

.form-container h1{
    font-size: 2.5rem;
    text-align: center;
    cursor: default;
    color: var(--white);
}

.form-container .input-form {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    
}

.input-form input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 20px;
    outline: none;
    color: var(--white);
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    transition: box-shadow 0.3s linear, border-color 0.3s linear;
}

.input-form .cPass {
    box-shadow: none;
}

.input-form input:hover, .input-form input:focus{
    border-color: var(--white2);
    box-shadow: 0 0 10px var(--white2);
}

.input-form input::placeholder{
    color: var(--white1);
}

.input-form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}


.form-container .btn{
    width: 100%;
    height: 40px;
    background: var(--white);
    color: var(--black1);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s ease, scale 0.3s;
}

.form-container .btn:hover, .form-container .btn:focus {
    background: var(--white2);
    scale: 1.02;
}

.form-container .reg-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px;
}

.reg-link p a{
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    transition: text-decoration 0.5s ease;
}

.reg-link p a:hover, .reg-link p a:focus{
    color: var(--white2);
    text-decoration: underline;
}

/* ------------- NavBar ------------------- */
header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.navbar {
    background: var(--white1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem ;
}

.navbar .logo a{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar .logo a:hover{
    color: var(--black1);
}

.nav-logout{
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: var(--black1);
    text-decoration: none;
    font-weight: 700;
    transition: scale 0.3s, color 0.5s, border .05s ease-in;
}

.nav-logout:hover, .nav-btn:focus {
    scale: 1.1;
    color: var(--black);
    border: 1px solid var(--black);
}


.navbar .toggle-btn {
    display: none;
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    background: var(--white2);
    width: 250px;
    margin-top: 20px;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.show {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.dropdown-btn{ 
    display: flex;
    justify-content: center;
    background-color: var(--black1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: var(--white2);
    text-decoration: none;
    font-weight: 700;
    transition: scale 0.3s, color 0.5s;
}

.dropdown-btn:hover{
    scale: 1.1;
}
/* ------------- b0dy ---------------- */


.body-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 100%;
    padding-top: 20px;
}

.inner-container {
    width: 60%;
    max-height: calc(100vh - 60px); 
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white2); 
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; 
}


.inner-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    box-sizing: border-box;
    width: 100%;
}

.inner-item .inner-icons{
    position: absolute;
    right: 5px;
    top: 5px;
}

.inner-icons i{
    font-size: 1rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: scale 300ms ease-in-out, color 300ms ease-in;
}

.remove-btn:hover i,
.edit-btn:hover i{
    scale: 1.3;
}


.item-content {
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: start; 
    text-align: justify;
    padding: 10px;
    width: 100%;
}

.item-row {
    display: flex;          
    justify-content: space-between;
    width: 100%;           
    margin: 5px 0;       
}

.item-title{
    width: 40%;
    font-size: 18px;
    font-weight: 600;
    color: var(--white2);
}
.item-text {
    margin-left: 10px;    
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    flex-grow: 1;          
    text-align: left;     
}
/* ---Table-------- */

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    overflow-y: auto; 
}

table {
    border: 1px solid var(--white1);
    min-width: 100%;
    border-collapse: collapse;
    cursor: pointer; 
    table-layout: fixed; /* Ensures even column width distribution */
}

tbody tr:nth-child(odd) {
    color: var(--white);
    background: hsla(0, 0%, 100%, 0.245);
}

tbody tr:nth-child(even) {
    color: var(--black);
    background: hsla(0, 0%, 98%, 0.449); /* Slightly darker background for even rows */
}


tbody tr:hover {
    background: hsla(0, 0%, 0%, 0.34); 
    color: var(--white);
}

th, td {
    padding: 12px;
    text-align: left;
    border: none;
}

th {
    color: var(--white);
    background-color:var(--black);
    font-weight: bold;
    position: sticky; 
    top: 0;
    cursor: pointer;
}

td {
    word-wrap: break-word;
}

/* --------------- Modal ------------------ */
/* The Modal (background) */
.add-modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    min-width: 100%; 
    height: 100%; 
    overflow: auto; 
    background: hsla(0, 0%, 0%, 0.600); 
    /* backdrop-filter: blur(30px); */
  }
  
  /* Modal Content/Box */
  .add-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: hsla(0, 0%, 0%, 0.408);
    backdrop-filter: blur(20px);
    border: 1px solid var(--white2);
    border-radius: 10px;
    margin: 15% auto; 
    padding: 20px;
    width: 60%; 
    position: relative;
  }

  .add-modal-content h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--white);
  }

  .modal-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .modal-input{
    width: 100%;
  }

  .modal-input input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--white2); 
    border-radius: 5px;
    background-color: transparent;
    color: var(--white1);
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.modal-input input::placeholder{
    color: var(--white2);
    transition: color 0.3s ease;
}
.modal-input input:focus::placeholder,
.modal-input input:hover::placeholder{
    color: var(--white1);
}


.modal-input input:hover{
    box-shadow: 0 0 10px var(--white2);
}


.modal-input textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--white2); 
    border-radius: 5px;
    background-color: transparent;
    color: var(--white1);
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    resize: none; 
    overflow: auto; 
    min-height: 40px; 
    max-height: 200px;
    line-height: 1.5;
    transition: border 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.modal-input textarea::placeholder {
    color: var(--white2);
    transition: color 0.3s ease;
}

.modal-input textarea:hover,
.modal-input textarea:focus  {
    box-shadow: 0 0 10px var(--white2);
}

.modal-input textarea:focus::placeholder,
.modal-input textarea:hover::placeholder {
    color: var(--white1);
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
    color: var(--white2);
    cursor: pointer;
    transition: scale 300ms ease-in-out;
}

.close-modal:hover {
    scale: 1.3;
}

.modal-form .btn{
    background: transparent;
    color: var(--white1);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 40px;
    font-size: 16px;
    font-weight: 600;
    transition: scale 0.3s;
}

.modal-form .btn:hover, .modal-form .btn:focus {
    color: var(--white1);
    scale: 1.3;
}


/* Responsive */

@media(max-width:967px) {
    .navbar .nav-logout{
        display: none;
    }

    .navbar .toggle-btn, .dropdown-menu{
        display: block;
    }
    .inner-container, .add-modal-content{
        width: 90%;
    }
}

@media(max-width:526px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}